header{
    top: 0;
    padding-bottom: 5%;
    position: fixed;
    z-index: 5;
    height: 18vh;
}
  
  .Header-Site-Title {
    height: 100px;
    width: 100vw;
    top: 0;
    
    transition: background-color ease-in 1s;
  }
  
  .Header-Site-Title-Active {
    height: 100px;
    width: 100vw;
    top: 0;
    background-color: rgb(247, 245, 123);
    transition: ease-in 0.7s; 
  }
  
  .Header-logo{
      height:100px;
      padding: 5px 10px 3px 5px;
      margin: 0;
      display: inline;
      float: left;
  }
  
  .Department-Name{
      margin: 0;
      margin-bottom: 5px;
      height: 100px;
      float: left;
      display: inline;
      color: white;
  }
  
  .Department-Name h3{
      margin-bottom: 15px;
      margin-top: -17px
  }
  
  