@charset "utf-8";
/************* For Main Tag*************/
@media only screen and (max-width: 600px) {
  main {
    top: 5;
    margin-top: 12.8vh;
    display: flex;
    justify-content: flex-start;
    height: 175vh;
  }

  .Title {
    background-color: #053c5e;
    width: 30vw;
    margin-right: -30vw;
    position: fixed;
    height: 100vh;
  }

  /*.Heading{
    width: 30vw;
    height: 100vh;
    position: fixed;
    margin-left: -10px;
    background: #053c5e;
  }*/

  .Title > div {
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    margin: 40vh 0vw 0vw 40px;
    font-size: 7vh;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    text-align: center;
  }

  .Content {
    margin-left: 29vw;
    width: 70vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(Background.png);

    background-size: cover;
    background-attachment: scroll;
    margin-right: -10px;
  }

  .Context {
    margin-left: 30vw;
    background: url(Background.png);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 70vw;
  }

  .Content-elements {
    height: 20%;
    width: 80%;
    display: flex;
    border-bottom: solid 2px#EF494E;
    color: white;
    justify-content: center;
    margin-left: 8vw;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .Content-elements:first-child {
    margin-top: 15vh;
  }

  .Photo-part {
    width: 15%;
    margin: 5px 30px 10px 0px;
  }

  .Photo-part img {
    border-radius: 100%;
  }

  .Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  main {
    top: 5;
    margin-top: 12.8vh;
    display: flex;
    justify-content: flex-start;
    height: 175vh;
  }

  .Title {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    color: white;
    position: fixed;
    margin-left: 15rem;
  }

  .Title h2 {
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .Title hr {
    width: 70%;
    display: block;
  }

  .Content {
    margin-left: 20vw;
    width: 73vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(Background.png);

    background-size: cover;
    background-attachment: scroll;
    margin-right: -10px;
    margin-top: 5rem;
  }

  .Context {
    margin-left: 30vw;
    background: url(Background.png);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 70vw;
  }

  .Content-elements {
    height: 20%;
    width: 80%;
    display: flex;
    border-bottom: solid 2px#EF494E;
    color: white;
    justify-content: center;
    margin-left: 35vw;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .Content-elements:first-child {
    margin-top: 15vh;
  }

  .Photo-part {
    width: 15%;
    margin: 5px 30px 10px 0px;
  }

  .Photo-part img {
    border-radius: 100%;
  }

  .Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  main {
    top: 5;
    margin-top: 12.8vh;
    display: flex;
    justify-content: flex-start;
    height: 175vh;
  }

  .Title {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    color: white;
    position: fixed;
    margin-left: 11rem;
  }

  .Title h2 {
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .Title hr {
    width: 70%;
    display: block;
  }

  .Content {
    margin-left: 29vw;
    width: 70vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(Background.png);

    background-size: cover;
    background-attachment: scroll;
    margin-right: -10px;
    
  }

  .Context {
    margin-left: 30vw;
    background: url(Background.png);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 70vw;
    margin-bottom: 10rem;
  }

  .Content-elements {
    height: 20%;
    width: 80%;
    display: flex;
    border-bottom: solid 2px#EF494E;
    color: white;
    justify-content: center;
    margin-left: 23vw;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .Content-elements:first-child {
    margin-top: 15vh;
  }

  .Photo-part {
    width: 15%;
    margin: 5px 30px 10px 0px;
  }

  .Photo-part img {
    border-radius: 100%;
  }

  .Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }
}

@media only screen  and (min-width: 992px) and (max-width: 1199px) {
  main {
    top: 5;
    margin-top: 12.8vh;
    display: flex;
    justify-content: flex-start;
    height: 175vh;
  }

  .Title {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    color: white;
    position: fixed;
    margin-left: 5rem;
  }

  .Title h2 {
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .Title hr {
    width: 70%;
    display: block;
  }

  .Content {
    margin-left: 30vw;
    width: 70vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(Background.png);

    background-size: cover;
    background-attachment: scroll;
    margin-right: -10px;
  }

  .Context {
    margin-left: 36vw;
    background: url(Background.png);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 70vw;
    margin-top: 2rem;
  }

  .Content-elements {
    height: 20%;
    width: 80%;
    display: flex;
    border-bottom: solid 2px#EF494E;
    color: white;
    justify-content: center;
    margin-left: 15vw;
    padding-bottom: 10px;
    margin-top: 1rem;
  }

  .Content-elements:first-child {
    margin-top: 15vh;
  }

  .Photo-part {
    width: 15%;
    margin: 5px 30px 10px 0px;
  }

  .Photo-part img {
    border-radius: 100%;
  }

  .Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    top: 5;
    margin-top: 12.8vh;
    display: flex;
    justify-content: flex-start;
    height: 175vh;
  }

  .Title {
    display: flex;
    flex-direction: column;
    background-color: #053c5e;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
    position: fixed;
    left: 0.0rem;
  }
  .Title h2 {
    width: 100%;
    padding: auto;
    text-align: center;
  }

  .Title hr {
    width: 70%;
    display: block;
  }
  /****************************/

  .Content {
    margin-left: 29vw;
    width: 70vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(Background.png);

    background-size: cover;
    background-attachment: scroll;
    margin-right: -10px;
  }

  .Context {
    margin-left: 30vw;
    background: url(Background.png);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 70vw;
    margin-top: 2rem;
  }

  .Content-elements {
    height: 20%;
    width: 80%;
    display: flex;
    border-bottom: solid 2px#EF494E;
    color: white;
    justify-content: center;
    margin-left: 10vw;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .Content-elements:first-child {
    margin-top: 15vh;
  }

  .Photo-part {
    width: 15%;
    margin: 5px 30px 10px 0px;
  }

  .Photo-part img {
    border-radius: 100%;
  }

  .Detail-part {
    width: 80%;
    font-size: 15px;
    line-height: 5px;
  }
  .email {
    float: left;
  }

  .phone {
    float: right;
  }
}
