.top-menu-lead { 
    padding: 10px;
    background-color: #0d9720;
    color: black;
    display: absolute;
    float: left;
}
@media screen and (max-width: 600px){
    .top-menu-lead{
        position: absolute;
        top: 10px;
        left: 10px;
        float: none;
    }
}